{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form id="register-form" method="post">
    {% csrf_token %}
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>

    <label for="phone_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number"><br>

    <label for="address">Address:</label>
    <textarea id="address" name="address"></textarea><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>

    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name"><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name"><br>

    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth"><br>

    <button type="submit">Register</button>
</form>

<div id="message"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#register-form').on('submit', function(event) {
            event.preventDefault();
            
            const formData = {
                username: $('#username').val(),
                email: $('#email').val(),
                phone_number: $('#phone_number').val(),
                address: $('#address').val(),
                password: $('#password').val(),
                first_name: $('#first_name').val(),
                last_name: $('#last_name').val(),
                date_of_birth: $('#date_of_birth').val()
            };

            $.ajax({
                type: 'POST',
                url: '{% url "Guest:register" %}',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    if (response.message === 'Registration successful') {
                        $('#message').html('<p>' + response.message + '</p>');
                        $('#register-form')[0].reset();
                    } else {
                        $('#message').html('<p>' + response.message + '</p><pre>' + JSON.stringify(response.errors, null, 2) + '</pre>');
                    }
                },
                error: function(error) {
                    $('#message').html('<p>An error occurred. Please try again.</p>');
                }
            });
        });
    });
</script>
{% endblock %}
